
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: black !important; /* letras de la barra navegacion */
    font-size: 18px; 
    font-weight: bold;
}
